  
body{
    box-sizing: border-box;
    width: 100%;
    margin: 2% 0;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

header{
    padding: 3% 0;
}

main {
    padding: 2% 4%;
}