
header h1{
    font-size: 50px;
    text-shadow: 0 0 10px #c855d3, 0 0 10px #530aa7;
}

header select{
    margin: 3% 0;
    padding: 6px;
    font-size: 17px;
    color: #530aa7;
}


footer {
    clear: both;
    padding: 5% 0;
}
img{
    
    width: 200px;
    height: auto;
    border: 2px rgb(211, 114, 250) solid;
    box-shadow: 5px 10px 18px #888888;
    
}


#horn {
    color: #530aa7;
    float: left;
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

}
